@charset "utf-8";

html{
    font-size: 62.5%;   /* 16px × 62.5% =10px */
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO"
}

body{
    font-size: 2.0rem;	
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
    background-image: url(../img/ocean.jpg);
    background-size: cover;
} 

